.container .add {
  position: absolute;
  bottom: 20px;
  right: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.container .add i {
  font-size: 30px;
  color: white;
}
